// CSS for home page
.home-wrapper {
  height: auto;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.home-banner {
  height: auto;
  width: 100vw;
  color: white;
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.home-background {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.0) 50%),
  image-url('apphunt-home.jpeg');
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
.home-row {
  width: 100vw;
}
.list-title {
  // text-decoration: underline #550F93;
  display: inline-block;
  border-bottom: 8px solid #550F93;
}
// Home page top section for viewport sizes md and lg
.home-title-high {
  font-size: 70px;
  color: #550F93;
  margin-bottom: 0;
  margin-top: 80px;
  font-weight: bold;
}
.home-tagline-high {
  font-size: 24px;
  color: black;
  margin-top: 0;
  margin-bottom: 50px;
}

// Home page top section for viewport sizes xs and sm
.home-title-low {
  font-size: 70px;
  color: #550F93;
  margin-bottom: 0;
  margin-top: 210px;
  font-weight: bold;
}
.home-tagline-low {
  font-size: 24px;
  color: black;
  margin-top: 0;
  margin-bottom: 140px;
}

// Other home page classes
.home-product-list-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  min-height: 760px;
  margin-bottom: 100px;
  padding-bottom: 0 0 25px 0;
}
.home-product-list {
  padding: 0;
  width: 100%;
}

.home-banner-logo {
  width: 90%;
}
.home-banner-bottom a {
  text-decoration: none;
  // color: $lightgray;
}
.home-banner-bottom a:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.search-page-link-wrapper {
  height: 200px;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  // padding: 0 20px;
}
.search-page-link {
  font-size: 25px;
  font-family: $headers-font;
  background-color: $green;
  color: white;
  width: auto;
  margin: auto;
}
.search-page-link:hover {
  text-decoration: none;
  background-color: $dark-green;
  color: white;
}
.no-padding {
  padding: 0;
}
