<div class="container home-banner">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="home-title">AppHunt</h1>
      <h4 class="home-tagline">Make money on your code</h4>
    </div>
  </div>
</div>


