<div class="container home-wrapper">
  <div class="home-banner">
    <div class="row home-row">
      <div class="col-xs-12">
        <h1 class="home-title">AppHunt</h1>
        <h4 class="home-tagline">Make money on your code</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-0">
        <!-- List of most upvoted apps for sale -->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 home-product-list-wrapper">
          <h2 class="list-title">Hottest apps for sale</h2>
          <div class="container home-product-list">
            <%= react_component 'ForSaleList',
              render(template: 'products/index.json.jbuilder') %>
          </div>
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-0">
        <!-- List of most upvoted apps wanted -->
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 home-product-list-wrapper">
          <h2 class="list-title">Hottest apps wanted</h2>
          <div class="container home-product-list">
            <%= react_component 'WantedList',
              render(template: 'products/index.json.jbuilder') %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


