<div class="container home-wrapper">
  <div class="home-banner">
    <div class="row home-row">
      <div class="col-xs-12">
        <h1 class="home-title">AppHunt</h1>
        <h4 class="home-tagline">Make money on your code</h4>
      </div>
    </div>
    <div class="row home-row">
      <!-- List of most upvoted apps for sale -->
      <div class="col-xs-4 col-xs-offset-1 home-product-list home-for-sale">

      </div>
      <!-- List of most upvoted apps wanted -->
      <div class="col-xs-4 col-xs-offset-2 home-product-list home-wanted">

      </div>
    </div>
  </div>
</div>


