.category-list li {
  text-align: left;
  color: $purple;
  input {
    width: 100%;
    text-align: left;
  }
}
.category-search li input {
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
}
