.category-list li {
  text-align: left;
  color: $purple;
}
.category-search li input {
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
}
