
.comments-container {
  height: auto;
  text-align: left;
  padding-left: 118px;
  h3 {
    font-size: 23px !important;
    margin-top: 5px;
  }
}
.comment-container {
  margin-bottom: 30px;
  img {
    vertical-align: bottom;
  }
  li p {
    margin: 0;
    font-size: 15px;
  }
}
.comment-content {
  margin-left: 20px !important;
}

.comment-form {
  color: black;
  padding-right: 130px;
}
.comment-input {
  color: black;
  font-size: 15px;
  width: 100%;
  height: 100px;
}
