.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 20px 0;
  border-radius: 3px;
  transition: all 0.15s ease;
  padding: 15px;
  width: 100%;
}
.product-comp-row {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
}
.avatar {
  width: 50px;
  border-radius: 50%;
}
.product-badges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
.product-badge {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  // margin: 0 20px 10px 20px;
  margin: auto;
  align-items: center;
  justify-content: center;
  p {
    font-size: 12px;
    margin: 0;
  }
}
.for-sale-badge {
  background-color: $green;
}
.wanted-badge {
  background-color: $red;
}

/* Body design */
.product-body {
  flex: 1 1 auto;
  text-align: left;
}
.product-avatar {
  text-align: right;
  padding: 0;
  margin: 0;
}
.product-body h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0;
}
.product-body p {
  // font-weight: lighter;
  color: white;
  margin-bottom: 0;
}
.product-body a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
.product-description {
  font-size: 15px !important;
  max-width: 700px;
  text-align: left;
}

/* Product image */
.product-image {
  border-radius: 10px;
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.product-upvote {
  // padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.product-upvote:hover {
  .product-arrow {
    border-bottom: 10px solid white !important;
  }
}
.product-count {
  margin: 4px 0 0;
  color: white !important;
}
.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: 10px solid $green !important;
  border-radius: 2px;
  margin: auto;
}

// Comment control design
.comment-controls {
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
  padding: 0;
}
.comment-controls:hover {

}
.comments-count {
  margin: 0;
  // padding-bottom: 10px;
  color: white !important;
  p {
    margin: 15px 0 0 0;
  }
}
.comments-button {
  // padding-top: 5px;
  i {
    color: white;
  }
}


/* Controls design */
.product-controls {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  // margin: 0 0 0 20px;
}
.product-controls-pair {
  padding: 0;
}
.product-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.product-controls a:hover {
  color: #D3473C !important
}
.product-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.product:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.product-upvote:hover, .product-upvote.product-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.product-upvote-upvoted .product-arrow {
  border-bottom-color: #5898f1;
}
// .product:hover .product-upvote {
//   transform: scale(1.2)
// }
.product:hover .product-controls-hidden a {
  color: #E6E6E6;
}
.product-upvote:hover .product-arrow {
  border-bottom: 9px solid #5898f1;
}
