<div class="container for-sale-wrapper">
  <div class="for-sale-banner">
    <div class="row for-sale-row">
      <div class="col-xs-12">
        <h1 class="for-sale-title">Thinking about building an app?</h1>
        <h3>What if someone already did the job for you...</h3>

        <!-- For-sale products search form-->
        <div>
          <%#= form_tag('/products', method: 'get',  class: 'for-sale-search' ) do  %>
            <%#= text_field_tag :search_value, params[:search_value], placeholder: 'Find your dream app' , class: "for-sale-search-input" %>
            <%#= submit_tag 'Search', class: 'btn my-btn for-sale-search-btn' %>
          <%# end %>

          <%= react_component 'ProductsContainer',
            { productsPath: products_path(:json), searchPath: search_path } %>

        </div>
      </div>
    </div>

    <div class="row home-row">
      <!-- List categories for products for sale -->
      <div class="col-xs-2 col-xs-offset-1 home-product-list-wrapper">
        <h2 class="list-title">Categories</h2>
        <div class="container home-product-list">
          <div class="row">
            <div class="col-xs-12">
              <ul class="category-list">
                <!-- Output each category -->
                <% @categories.each do |category| %>
                  <li><p><%= category %></p></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- List of search results for products for sale -->
      <div class="col-xs-7 col-xs-offset-1 home-product-list-wrapper">
        <h2 class="list-title">Hottest apps for sale right now</h2>
        <div class="container home-product-list">
          <div class="row">
            <div class="col-xs-12">
              <%#= react_component 'ForSaleList',
                render(template: 'products/index.json.jbuilder') %>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


